<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      font-family: Helvetica,Arial,sans-serif;
    }
  </style>
</head>
<body>
  <h1>分享图Demo</h1>
  <img src="/share.png?bg=https%3A%2F%2Fepay.nosdn.127.net%2Fc2d1cacb-2121-4917-902d-b5e89c701e48.png&qrCode=https%3A%2F%2Fnos.netease.com%2Fepay-platform%2F9676648321b649d19fbc3f15798c29daQR.png" alt="">
</body>
</html>